{% extends 'base.html' %}
{% block content %}
<!-- Welcome text container -->
<div class="container-fluid p-0 first-container">
    <div class="jumbotron jumbotron-fluid h-50 h-md-75 mb-0">
        <div class="container">
            <h1 class="display-4">Welcome!</h1>
            <p class="lead">Here on the My Healthy Mind website we provide you with a safe space to log your
                daily
                journal,
                allowing you to keep track of your thoughts and
                feelings, rate your day, and even document it with a photo. We strongly believe that maintaining a
                positive mindset and prioritizing your
                well-being is vital for a
                healthy mind. Our user-friendly journaling
                platform allows you to
                reflect on your experiences and emotions, and monitor your progress as you work
                towards a happier and
                healthier you.</p>
        </div>
    </div>
    <!--3 cards-->
    <div class="container container-features">
        <div class="row justify-content-around">
            <!--Card 1-->
            <div class="card card-rounded card-custom">
                <div class="card-body card-body-top d-flex flex-column justify-content-center align-items-center">
                    <h2 class="card-title">Daily Journal</h2>
                </div>
                <div class="card-body card-body-bottom d-flex flex-column justify-content-center align-items-center">
                    <p class="card-text my-auto">Uncover the joy of daily journaling for a healthy mind. Express your
                        thoughts and experience personal growth as you
                        embrace the practise of journaling.

                    </p>
                    {% if user.is_authenticated %}
                    <a href="{% url 'dailyjournal:log_journal' %}" class="btn button mt-auto mx-auto">Log my Daily
                        Journal</a>
                    {% else %}
                    <a href="{% url 'account_login' %}" class="btn button mt-auto mx-auto">Sign in to journal</a>
                    {% endif %}
                </div>
            </div>
            <!--Card 1-->
            <div class="card card-rounded card-custom">
                <div class="card-body card-body-top d-flex flex-column justify-content-center align-items-center">
                    <h2 class="card-title">Daily Quote</h2>
                </div>
                <div class="card-body card-body-bottom d-flex flex-column justify-content-center align-items-center">
                    <p class="card-text my-auto">{{ quote.quote }}</p>
                    <p>- {{ quote.author }}</p>
                </div>
            </div>
            <!--Card 1-->
            <div class="card card-rounded card-custom">
                <div class="card-body card-body-top d-flex flex-column justify-content-center align-items-center">
                    <h2 class="card-title">Past Journals</h2>
                </div>
                <div class="card-body card-body-bottom d-flex flex-column justify-content-center align-items-center">
                    <p class="card-text my-auto">Revisit your past journals, reflect, and continue your journey towards
                        a
                        healthier
                        mind. Here, you can view all your past journal entries, edit them, or delete them.</p>
                    {% if user.is_authenticated %}
                    <a href="{% url 'dailyjournal:journal_list' %}" class="btn button mt-auto mx-auto">View Past
                        Journals
                    </a>
                    {% else %}
                    <a href="{% url 'account_login' %}" class="btn button mt-auto mx-auto">Sign in to view Past
                        Journals</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    {% endblock %}