{% extends 'base.html' %}
{% block content %}
<!-- Welcome text container -->
<div class="container-fluid p-0 first-container">
    <div class="jumbotron jumbotron-fluid h-50 h-md-75 mb-0">
        <div class="container">
            <h1 class="display-4">Welcome!</h1>
            <p class="lead">Here on the My Healthy Mind website we provide you with a safe space to log your
                daily
                journal,
                allowing you to keep track of your thoughts and
                feelings. We strongly believe that maintaining a positive mindset and prioritizing your
                well-being is vital for a
                healthy mind, and we're here to support you in achieving that. Our user-friendly journaling
                system enables you to
                reflect on your experiences and emotions, set goals, and monitor your progress as you work
                towards a happier and
                healthier you.</p>
        </div>


    </div>
    <div class="container container-features">
        <div class="row justify-content-around">
            <div class="card card-rounded card-custom">
                <div class="card-body card-body-top d-flex flex-column justify-content-center align-items-center">
                    <h5 class="card-title">Daily Journal</h5>
                </div>
                <div class="card-body card-body-bottom d-flex flex-column justify-content-center align-items-center">
                    <p class="card-text my-auto">Discover the wonders of daily journaling for a healthy mind. Immerse
                        yourself in self-reflection, express your thoughts,
                        and witness personal growth blossom through the practice of journaling.
                    </p>
                    <a href="{% url 'dailyjournal:log_journal' %}" class="btn button mt-auto mx-auto">Log my Daily
                        Journal</a>
                </div>
            </div>

            <div class="card card-rounded card-custom">
                <div class="card-body card-body-top d-flex flex-column justify-content-center align-items-center">
                    <h5 class="card-title">Daily Quote</h5>
                </div>
                <div class="card-body card-body-bottom d-flex flex-column justify-content-center align-items-center">
                    <p class="card-text my-auto">{{ quote.quote }}</p>
                    <p>- {{ quote.author }}</p>
                </div>
            </div>

            <div class="card card-rounded card-custom">
                <div class="card-body card-body-top d-flex flex-column justify-content-center align-items-center">
                    <h5 class="card-title">Past Journals</h5>
                </div>
                <div class="card-body card-body-bottom d-flex flex-column justify-content-center align-items-center">
                    <p class="card-text my-auto">Revisit your past journals, reflect, and continue your journey towards
                        a
                        healthier
                        mind. Here, you can view all your previous journal entries, edit them, or delete them.</p>
                    <a href="{% url 'dailyjournal:log_journal' %}" class="btn button mt-auto mx-auto">View Past Journals
                    </a>
                </div>
            </div>
        </div>
    </div>

    <!-- Card container 
    <div class="container container-features">
        <div class="row justify-content-around">
            <div class="card card-rounded card-custom">
                <img src="https://m.media-amazon.com/images/I/518tUTYNbsL._AC_UF1000,1000_QL80_.jpg"
                    class="card-img-top image" alt="...">
                <div class="card-body card-body-bottom d-flex flex-column">
                    <h5 class="card-title">Daily Journal</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the
                        bulk of the
                        card's
                        content.</p>
                    <a href="{% url 'dailyjournal:log_journal' %}" class="btn button mt-auto mx-auto">Log my Daily
                        Journal</a>
                </div>
            </div>


            <div class="card card-rounded card-custom">
                <img src="https://c8.alamy.com/comp/2N7B2N7/human-brain-with-flowers-and-butterflies-mental-health-and-self-care-concept-positive-thinking-creative-mind-2N7B2N7.jpg"
                    class="card-img-top image" alt="...">
                <div class="card-body card-body-bottom">
                    <h5>Daily Quote</h5>
                    <p class>{{ quote.quote }}</p>
                    <p>- {{ quote.author }}</p>
                </div>
            </div>

            <div class="card card-rounded card-custom d-none d-lg-block">
                <img src="https://hbr.org/resources/images/article_assets/2021/02/Feb21_23_1296183274.jpg"
                    class="card-img-top image" alt="...">
                <div class="card-body card-body-bottom d-flex flex-column">
                    <h5 class="card-title">Past Journals</h5>
                    <p class="card-text">
                        Revisit your past journals, reflect, and continue your journey towards a healthier
                        mind. Here, you can view all your previous journal entries, edit them, or delete them.
                    </p>

                    <a href="#" class="btn button mt-auto mx-auto">View past
                        Journals</a>

                </div>
            </div>
        </div>
    </div>
    -->

    {% endblock %}