{% extends "base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}
<div class="container-fluid p-0 first-container d-flex justify-content-center">
    <div class="jumbotron jumbotron-fluid h-50 h-md-75 mb-0">
    </div>
</div>
<!-- Container for the login form -->
<div class="container account-container d-flex justify-content-center align-items-center">
    <div class="container-fluid inner-container">
        <div class="row ml-1 mt-2 mt-lg-4 ml-lg-3 justify-content-between">
            <h1 class="acount-heading">{% trans "Login" %}</h1>
            <p class="account-text">{% blocktrans %}Welcome to My Healthy Mind! To begin recording your Daily Journal
                entries, please log
                in.
                If you don't have an account yet, you can
                <a href="{{ signup_url }}">Sign up</a> to get started. {% endblocktrans %}
            </p>
        </div>
        <div class="row">
            <div class="col-md-8 mt-3 offset-md-2">
                <form class="login content" method="POST" action="{% url 'account_login' %}">
                    {% csrf_token %}
                    {{ form.as_p }}
                    {% if redirect_field_value %}
                    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                    {% endif %}
                    <div class="text-right">
                        <button class="btn button" id="btn-account" type="submit">{% trans "Log In" %}</button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>
{% endblock %}