{% extends "base.html" %}
{% block edit %}
{% load static %}
<div class="container outer-container d-flex justify-content align-items-center">
    <div class="container-fluid inner-container-journal pb-2">
        <div class="row ml-1 mt-2 mt-lg-4 ml-lg-3 justify-content-between">
            <div class="column form-group">
                <h2>Edit Daily Journal</h2>
            </div>
        </div>
        <!--Edit Journal Form-->
        <form method="post" id="edit-journal-form" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="d-flex justify-content-end">
                <div class="form-group date-box mr-lg-3">
                    <label for="id_created_on" aria-label="Journal Entry Date">Date:</label>
                    {{ form.created_on }}
                </div>
            </div>
            <div class="ml-lg-3 form-group">
                <label for="inputContent" aria-label="Journal Entry content">Your Journal Entry:</label>
                {{ form.content }}
            </div>
            <div class="column ml-lg-3 form-group">
                <label for="id_rating" aria-label="Rate Your Day">How was your day?</label>
                {{ form.rating }}
            </div>
            <div class="column ml-lg-3 mr-3 form-group journal-img">
                <label for="id_image" aria-label="Upload a photo for the Day">Photo of the
                day:</label><br>
                {% if form.instance.image %}
                <img src="{{ form.instance.image.url }}" class="img-fluid" alt="Photo of the day">
                {{ form.instance.image }}
                {{ form.image }}
                {% else %}
                {{ form.image }}
                {% endif %}
            </div>
            <div class="column mr-3 form-group d-flex justify-content-end">
                <input type="submit" value="Save changes" class="btn button btn-edit">
                <button type="button" onclick="cancelDelete()" class="btn button">Cancel</button>
            </div>
        </form>
    </div>
</div>
<script>
    // Redirects the user back to Past Journals page when ca a deletion
    function cancelDelete() {
        window.history.back();
    }
</script>
{% endblock %}