{% extends "base.html" %}
{% load static %}
{% block title %}Delete Journal {{ entry.id }}{% endblock %}
{% block content %}
<!--Delete Journal confirmation-->
<div class="container outer-container d-flex justify-content-center align-items-center pt-5">
    <div class="container-fluid inner-container-journal">
        <div class="row ml-1 mt-2 mt-lg-4 ml-lg-3 justify-content-between">
            <h1>Confirm Journal Deletion</h1>
            <div>
                <form method="post" class="text-center pr-5 mb-3">
                    {% csrf_token %}
                    <p id="confirmation-message"><strong>Are you sure you want to delete the Journal
                        for {{ entry.created_on }}?</strong>
                        <br>
                        Warning: Once deleted, the journal cannot be
                        recovered.
                    </p>
                    <div>
                        <input type="submit" value="Confirm" class="btn button" aria-label="Confirm deletion">
                        <button type="button" onclick="cancelDelete()" class="btn button"
                            aria-label="Cancel deletion">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    // Redirects the user back to Past Journals page when ca a deletion
    function cancelDelete() {
        window.history.back();
    }
</script>
{% endblock %}