h3 {
    font-weight: 500;
}

h5 {
    font-style: italic;
}

h5,
h6 {
    font-weight: 400;
}

/* My Healthy Mind logo */
.logo {
    font-size: 2rem;
    font-family: lato;
    background-color: #F3DED4;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    padding-left: 10px;
    padding-right: 10px;
}

/* Navigation bar */
.navbar-big {
    height: 90px;
    font-size: 1.5rem;
    background-color: #f8eee3;
    z-index: 1;
    font-family: lato;
}

/* Hamburger meny toggle */
.hamburger {
    margin-top: 12px;
}

.list-bg {
    background-color: #d6c0a8;
    width: 157px;
}

#hamburger-home {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

#signup-home {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.ul-padding-hamburger {
    margin-left: 10px;
}

/* Fist container with welcome text */
.jumbotron {
    height: 550px;
    background-color: #f8eee3;
    font-family: lato;

}

/* Second container with features card and quote */
.container-features {
    margin-bottom: 110px;
    font-family: lato;
}

.card-rounded {
    height: 500px;
    overflow: hidden;
    border: 3px solid #F3DED4;
    border-top-left-radius: 200px;
    border-top-right-radius: 200px;
    margin-top: 40px;
    width: 19rem;
}

.image {
    object-fit: cover;
    height: 50%;
}

.card-body-bottom {
    text-align: center;
    background-color: #f8eee3;
    height: 250px;

}

.button {
    background-color: white;
    color: #5C4033;
    border-radius: 5px;
    border: 1px solid #5C4033;

}

.button:hover {
    cursor: pointer;
    background-color: #F3DED4;
}


/* Footer */

footer {
    height: 70px;
    background-color: #f8eee3;
    padding-top: 10px;
    font-family: lato;
}

/* login/out */
.account-container {
    margin-top: 130px;
    border-radius: 10px;
    height: 450px;
    max-width: 991px;
    margin-left: auto;
    margin-right: auto;
}

#btn-account {
    margin-bottom: 25px;
}

.acount-heading {
    margin-left: 7%;
    margin-top: 20px;
}

.account-text {
    margin-left: 7%;
    margin-right: 7%;
}

/* daily_journal.html */
/* Journal form */

.outer-container {
    margin-top: 70px;
    border-radius: 10px;
}

.inner-container {
    background-color: #f8eee3;
    background-size: cover;
    background-position: center;
    margin: 15px 10px;
    border-radius: 10px;
    border: 3px solid #5C4033;
}

.inner-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('https://img.freepik.com/premium-photo/human-brain-with-flowers-health-concept_75891-2757.jpg?w=2000');
    background-size: cover;
    background-position: center;
    opacity: 0.7;
    z-index: -1;
}

.btn-form {
    margin-right: 20px;
}

.textarea-form-content {
    border: 2px solid #d6c0a8;
}

.rating-range {
    background-color: white;
    border: 2px solid #d6c0a8;
    border-radius: 5px;
    padding: 5px 5px;
}

/* Previous Journals container */
.previous-journals-container {
    margin-bottom: 150px;
    margin-top: 50px;
    background-color: #f8eee3;
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.btn-previous {
    font-size: small;
    margin-left: 15px;
    margin-right: 15px;
}


/*Media queries */

@media screen and (max-width: 364px) {
    .hamburger {
        position: fixed;
        margin-top: 100px;
        right: 17px;
        background-color: #f8eee3;
    }
}

@media screen and (min-width: 990px) {
    .list-bg {
        background-color: transparent;
        padding-left: 0;
        width: auto;
        border-radius: 0;
    }

    .container-features {
        margin-top: 110px;
    }
}

@media screen and (min-width: 991px) {
    .rating-range {
        width: 20%;
    }

    .textarea-form-content {
        width: 80%;
    }

    .btn-previous {
        font-size: large;
    }

    #btn-account {
        font-size: large;
    }
}