/* My Healthy Mind logo */
.logo {
    font-size: 2rem;
    font-family: lato;
    background-color: #F3DED4;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    padding-left: 10px;
    padding-right: 10px;
}

/* Navigation bar */
.navbar-big {
    height: 90px;
    font-size: 1.5rem;
    background-color: #f8eee3;
    z-index: 1;
    font-family: lato;
}

/* Hamburger meny toggle */
.hamburger {
    margin-top: 12px;
}

.list-bg {
    background-color: #d6c0a8;
    width: 157px;
}

#hamburger-home {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

#signup-home {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.ul-padding-hamburger {
    margin-left: 10px;
}

/* Fist container with welcome text */
.jumbotron {
    height: 550px;
    background-color: #f8eee3;
    font-family: lato;

}

/* Second container with features card and quote */
.container-features {
    margin-bottom: 110px;
    font-family: lato;
}

.card-rounded {
    height: 500px;
    overflow: hidden;
    border-top-left-radius: 200px;
    border-top-right-radius: 200px;
    margin-top: 40px;
    width: 19rem;
}

.image {
    object-fit: cover;
    height: 50%;
}

.card-body-bottom {
    text-align: center;
    background-color: #f8eee3;
    height: 250px;
}

.button {
    background-color: white;
    color: #5C4033;
    border-radius: 5px;
}

.button:hover {
    cursor: pointer;
    color: #5C4033;
    background-color: #F3DED4;
}

/* Footer */

footer {
    height: 70px;
    background-color: #f8eee3;
    padding-top: 10px;
    font-family: lato;
}



/* daily_journal.html */

.daily-journal-container {
    margin-top: 70px;

}

.form-daily-journal {
    background-color: #f8eee3;
    border: 1px solid #5C4033;
    margin-bottom: 130px;
}

.date-label {
    width: 140px;
    position: relative;
    margin: auto;
}

.rating-today {
    width: 50%;
    position: relative;
    margin: auto;
}

.amazing-range {
    margin-right: 20px;
}

.form-group>h3 {
    margin-top: 20px;
    font-weight: 400;
}

/*Media queries 
Media queries for medium screen size from 990px width and above */

@media screen and (min-width: 990px) {
    .list-bg {
        background-color: transparent;
        padding-left: 0;
        width: auto;
        border-radius: 0;
    }
}

@media screen and (max-width: 364px) {
    .hamburger {
        position: fixed;
        margin-top: 100px;
        right: 17px;
        background-color: #f8eee3;
    }
}

/*
@media screen and (min-width: 1300px) {
    .card-rounded {
        height: 650px;
    }

    .card {
        border-top-left-radius: 300px;
        border-top-right-radius: 300px;
    }
}

@media screen and (max-width: 767px) {
    .card {
        width: 65vw;
        height: 500px;
        margin: 0 auto;

    }
} 
*/