/* Main styling */
html,
body {
    font-family: lato;
    height: 100%;
    margin: 0;
}

main {
    min-height: 100%;
}

.bg-img {
    background-image: url('https://res.cloudinary.com/dfrqsofbo/image/upload/v1684595907/bg_llrfzs.png');
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
}

h3 {
    font-weight: 500;
}

h6 {
    font-weight: 400;
}

/* My Healthy Mind logo */
.logo {
    font-size: 2rem;
    background-color: #F3DED4;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    padding-left: 10px;
    padding-right: 10px;
}

/* Navigation bar */
.navbar-big {
    height: 90px;
    font-size: 1.5rem;
    background-color: #f8eee3;
    z-index: 1;
}

/* Hamburger meny toggle */
.hamburger {
    margin-top: 12px;
}

.list-bg {
    background-color: #F3DED4;
    width: 157px;
}

#hamburger-home {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

#signup-home {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.ul-padding-hamburger {
    margin-left: 10px;
}

/* First container with text */
.jumbotron {
    background-color: #f8eee3;
    border-bottom: 0.5px solid #5C4033;
}

/* Second container with features card and quote */
.container-features {
    padding-bottom: 100px;
    min-height: calc(100vh - 55.5px);

}

.card-rounded {
    height: 450px;
    border: 3px solid #5C4033;
    border-top-left-radius: 200px;
    border-top-right-radius: 200px;
    margin-top: 80px;
    width: 19rem;
    background-color: #f8eee3;
}

.card-title {
    margin-top: 45px;
    font-style: italic;
    font-weight: bold;
    font-size: 25px;
    border-radius: 8px;
}

.card-text {
    margin-top: 10px;
}

.card-body-bottom {
    text-align: center;
    background-color: #f8eee3;
    height: 200px;
}

.button {
    background-color: white;
    color: #5C4033;
    border-radius: 5px;
    border: 1px solid #5C4033;
}

.button:hover {
    cursor: pointer;
    background-color: #F3DED4;
}

/* Footer */
footer {
    background-color: #f8eee3;
    padding-top: 10px;
    height: 70px;
    margin-top: -70px;
    border-top: 0.5px solid #5C4033;
}

/* user authentication */
.account-container {
    border-radius: 10px;
    height: 450px;
    max-width: 700px;
    min-height: calc(100vh - 55.5px);
}

#btn-account {
    margin-bottom: 25px;
}

#btn-account-logout {
    margin-bottom: 35px;
    margin-right: 60px;
}

#btn-account-signup {
    margin-bottom: 25px;
    margin-right: 25px;
}

.acount-heading {
    margin-left: 7%;
    margin-top: 20px;
}

.account-text {
    margin-left: 7%;
    margin-right: 7%;
    margin-top: 20px;
}

.inner-container {
    background-color: #f8eee3;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    border: 3px solid #5C4033;
}

/* daily_journal.html */
/* Journal form */
.outer-container {
    border-radius: 10px;
    min-height: calc(100vh - 55.5px);
}

.inner-container-journal {
    background-color: #f8eee3;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    border: 3px solid #5C4033;
}

.btn-form {
    margin-right: 20px;
}

.textarea-form-content {
    border: 2px solid #d6c0a8;
}

/* Previous Journals container */
.view-more {
    text-align: center;
    margin-top: 15px;
}

/* Confirmation on action messages */
.container-messages {
    background-color: #f8eee3;
}

/*Media queries */
@media screen and (max-width: 364px) {
    .hamburger {
        position: fixed;
        margin-top: 100px;
        right: 17px;
        background-color: #f8eee3;
    }
}

@media screen and (min-width: 991px) {
    .list-bg {
        background-color: transparent;
        padding-left: 0;
        width: auto;
        border-radius: 0;
    }

    .container-features {
        margin-top: 50px;
    }

    .textarea-form-content {
        width: 80%;
    }

    .btn-previous {
        font-size: large;
    }

    #btn-account {
        font-size: large;
    }
}