{% extends 'base.html' %}
{% block journalform %}
{% load static %}
<!--Jumbotron-->
<div class="container-fluid p-0 first-container">
    <div class="jumbotron jumbotron-fluid h-50 h-md-75 mb-0">
        <div class="container">
            <h1 class="display-4">Your Personal Journal</h1>
            <p class="lead">
                Here on the My Healthy Mind website we provide you with a safe space to
                log your daily journal, allowing you to keep track of your thoughts and
                feelings. We believe that maintaining a positive mindset, and
                prioritizing your well-being is vital for a healthy mind. Our user-friendly journaling system
                allows you to reflect on your experiences and emotions and monitor your progress as you
                strive for a happier and healthier version of yourself.
        </div>
    </div>
</div>
<div class="container outer-container d-flex justify-content-center align-items-center">
    <div class="container-fluid inner-container-journal">
        <div class="row ml-1 mt-2 mt-lg-4 ml-lg-3 justify-content-between">
            <div class="column form-group">
                <h3>Daily Journal</h3>
            </div>
            <!--Journal Form-->
            <form method="post" action="{% url 'dailyjournal:log_journal' %}" id="journal-form"
                enctype="multipart/form-data">
                {% csrf_token %}
                <div class="column mr-lg-5 form-group date-box">
                    <label for="id_created_on">Date:</label>
                    {{ form.created_on }}
                </div>
        </div>
        <div class="column ml-lg-3 form-group">
            <label for="inputContent">Your Journal Entry:</label>
            {{ form.content }}
        </div>
        <div class="column ml-lg-3 form-group">
            <label for="id_rating">How was your day?</label>
            {{ form.rating }}
        </div>
        <div class="column ml-lg-3 form-group">
            <label for="id_image">Photo of the day:</label><br>
            {{ form.image }}
        </div>

        <div class="form-group d-flex justify-content-end mb-lg-3 mr-lg-3">
            <div class="btn-group" role="group" aria-label="Journal actions">
                <!--Submit btn to submit the Journal-->
                <button type="submit" class="btn button btn-form">
                    Submit Journal
                </button>
                <!--Discard btn to discard the started Journal-->
                <button type="button" class="btn button btn-red" id="discard-btn">Discard Journal</button>
            </div>
        </div>
        </form>
    </div>
</div>
{% endblock %}