{% extends 'base.html' %}
{% block journalform %}
{% load static %}

<div class="container outer-container d-flex justify-content-center align-items-center">
    <div class="container-fluid inner-container-journal">
        <div class="row ml-1 mt-2 mt-lg-4 ml-lg-3 justify-content-between">
            <div class="column form-group">
                <h2>Daily Journal</h2>
            </div>
            <!--Journal Form-->
            <form method="post" action="{% url 'dailyjournal:log_journal' %}" id="journal-form"
                enctype="multipart/form-data">
                {% csrf_token %}
                <div class="column mr-lg-5 form-group date-box">
                    <label for="id_created_on" aria-label="Date">Date:</label>
                    {{ form.created_on }}
                </div>
        </div>
        <div class="column ml-lg-3 form-group">
            <label for="inputContent" aria-label="Your Journal Entry">Your Journal Entry:</label>
            {{ form.content }}
        </div>
        <div class="column ml-lg-3 form-group">
            <label for="id_rating" aria-label="How was your day?">How was your day?</label>
            {{ form.rating }}
        </div>
        <div class="column ml-lg-3 form-group">
            <label for="id_image" aria-label="Photo of the day">Photo of the day:</label><br>
            {{ form.image }}
        </div>

        <div class="form-group d-flex justify-content-end mb-lg-3 mr-lg-3">
            <div class="btn-group" role="group" aria-label="Journal actions">
                <!--Submit btn to submit the Journal-->
                <button type="submit" class="btn button btn-form">
                    Submit Journal
                </button>
                <!--Discard btn to discard the started Journal-->
                <button type="button" class="btn button btn-red" id="discard-btn">Discard Journal</button>
            </div>
        </div>
        </form>
    </div>
</div>
{% endblock %}