{% extends 'base.html' %}
{% block journalform %}
{% load static %}
<!--Jumbotron-->
<div class="container-fluid p-0 first-container">
    <div class="jumbotron jumbotron-fluid h-50 h-md-75 mb-0">
        <div class="container">
            <h1 class="display-4">Log your Daily Journal</h1>
            <p class="lead">
                Here on the My Healthy Mind website we provide you with a safe space to
                log your daily journal, allowing you to keep track of your thoughts and
                feelings. We strongly believe that maintaining a positive mindset and
                prioritizing your well-being is vital for a healthy mind, and we're here
                to support you in achieving that. Our user-friendly journaling system
                enables you to reflect on your experiences and emotions, set goals, and
                monitor your progress as you work towards a happier and healthier you.
            </p>
        </div>
    </div>
</div>
<div class="container outer-container d-flex justify-content-center align-items-center">
    <div class="container-fluid inner-container">
        <div class="row ml-1 mt-2 mt-lg-4 ml-lg-3 justify-content-between">
            <div class="column form-group">
                <h3>Daily Journal</h3>
            </div>
            <form method="post" action="{% url 'dailyjournal:log_journal' %}">
                {% csrf_token %}
                <div class="column mr-lg-5 form-group date-box">
                    <label for="id_created_on">Date</label>
                    {{ form.created_on }}
                </div>
        </div>

        <div class="column ml-lg-3 form-group">
            <label for="inputContent"> </label>
            {{ form.content }}
        </div>

        <!--
        <div class="column ml-lg-3 form-group rating-range">
            <label for="range"> Rate your day </label>
            <div>{{ form.daily_rating }}
            </div>
-->
    </div>
    <div class="form-group d-flex justify-content-end mb-lg-3 mr-lg-3">
        <div class="btn-group" role="group" aria-label="Basic example">
            <button type="submit" class="btn button btn-form btn-previous">
                Submit Journal
            </button>
            <button type="button" class="btn button btn-previous">Discard</button>
        </div>
    </div>
    </form>
</div>
</div>

<!--View previous Journals-->
<div class="container outer-container previous-journals-container">
    <div class="row d-flex align-items-center justify-content-start">
        <div class="column">
            <button class="btn button btn-previous" type="button" data-toggle="collapse"
                data-target="#collapseJournalForm" aria-expanded="false" aria-controls="collapseJournalForm">
                Daily Journal 'date'
            </button>
        </div>
        <!---<div class="column ml-auto">
            <div class="text-right">
                <button class="btn button btn-previous" type="button">
                    Edit Journal
                </button>
                <button class="btn button btn-previous" type="button">
                    Delete Journal
                </button>
            </div>
        </div>
        -->
    </div>
</div>
</div>
{% endblock %}