{% extends 'base.html' %}
{% block pastjournal %}
{% load static %}
<div class="container outer-container d-flex justify-content-center align-items-center">
    <div class="container-fluid inner-container-journal">
        <div class="row ml-1 mt-2 mt-lg-4 ml-lg-3 justify-content-between">
            <div class="column form-group">
                <h3>Daily Journal</h3>
            </div>
        </div>

        {% for entry in journal_entries %}
        <div class="journal-entry">
            <button class="btn button btn-entry" data-toggle="collapse" data-target="#entry-{{ entry.id }}">
                {{ entry.created_on }} - Click to expand
            </button>
            <div id="entry-{{ entry.id }}" class="collapse">
                <div class="column ml-lg-3 form-group">
                    <label>Date:</label>
                    <input type="text" class="form-control" value="{{ entry.created_on }}" readonly>
                </div>
                <div class="column ml-lg-3 form-group">
                    <label>Journal Entry:</label>
                    <textarea class="form-control" rows="3" readonly>{{ entry.content }}</textarea>
                </div>
                <div class="column ml-lg-3 form-group">
                    <form action="{% url 'dailyjournal:delete_entry' entry.id %}" method="post">
                        {% csrf_token %}
                        <button type="submit" class="btn button">
                            Delete Journal
                        </button>
                    </form>
                </div>
            </div>
        </div>
        {% endfor %}

        {% if journal_entries|length > 5 %}
        <div class="view-more">
            <a href="#" class="btn button btn-view-more">View More</a>
        </div>
        {% endif %}

    </div>
</div>
{% endblock %}