{% extends 'base.html' %}
<!--View previous Journals
<div class="container outer-container previous-journals-container">
    <div class="row d-flex align-items-center justify-content-start">
        <div class="column">
            <button class="btn button btn-previous" type="button" data-toggle="collapse"
                data-target="#collapseJournalForm" aria-expanded="false" aria-controls="collapseJournalForm">
                Daily Journal 'date'
            </button>
        </div>
    </div>
</div>
-->
{% endblock %}