{% extends 'base.html' %}
{% block pastjournal %}
{% load static %}
<div class="container outer-container d-flex justify-content-center align-items-center">
    <div class="container-fluid inner-container-journal pb-3">
        <div class="row ml-1 mt-2 mt-lg-4 ml-lg-3 justify-content-between">
            <div class="column form-group">
                <h3>Past Journals</h3>
            </div>
        </div>
        <!--Iterates through the user's logged journals-->
        {% for entry in journal_entries %}
        <div class="pb-2">
            <button class="btn button btn-entry" data-toggle="collapse" data-target="#entry-{{ entry.id }}">
                {{ entry.created_on }} - Click to expand
            </button>
            <div id="entry-{{ entry.id }}" class="collapse">
                <div class="column ml-lg-3 form-group">
                    <label>Date:</label>
                    <input type="text" class="form-control" value="{{ entry.created_on }}" readonly>
                </div>
                <div class="column ml-lg-3 form-group">
                    <label>Journal Entry:</label>
                    <textarea class="form-control" rows="3" readonly>{{ entry.content }}</textarea>
                </div>
                <div class="column ml-lg-3 form-group">
                    <form action="{% url 'dailyjournal:delete_entry' entry.id %}" method="post">
                        {% csrf_token %}
                        <a href="{% url 'dailyjournal:delete_entry' entry.pk %}" class="btn button btn-red">Delete</a>

                    </form>
                </div>
            </div>
        </div>
        {% endfor %}
        <!--View more button is displayed if there are more than 5 journals-->
        {% if journal_entries|length > 5 %}
        <div class="view-more">
            <a href="#" class="btn button btn-view-more">View More</a>
        </div>
        {% endif %}

    </div>
</div>

{% endblock %}