{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="Description" content="My Healthy Mind is a website where you can 
    log your Daily Journal and keep track of your thoughts and feelings. We want
    to promote positivity and well-being.">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;1,100;1,300;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,600&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/4.6.0/cosmo/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>My Healty Mind</title>
</head>

<body>
    <main>
        <!-- Logo -->
        <nav class="navbar navbar-expand-lg navbar-light navbar-big">
            <a class="navbar-brand logo" href="#">My Healthy Mind</a>

            <button class="navbar-toggler hamburger" type="button" data-toggle="collapse"
                data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- Navigation with hamburger many -->
            <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                    <li class="nav-item active list-bg ml-auto" id="hamburger-home">
                        <a class="nav-link ul-padding-hamburger" href="#">Home <span
                                class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item list-bg ml-auto">
                        <a class="nav-link ul-padding-hamburger" href="#">Daily Journal</a>
                    </li>
                    <li class="nav-item list-bg ml-auto">
                        <a class="nav-link ul-padding-hamburger" href="#">Past Journals</a>
                    </li>
                </ul>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item list-bg ml-auto">
                        <a class="nav-link ul-padding-hamburger" href="#">Login</a>
                    </li>
                    <li class="nav-item list-bg ml-auto">
                        <a class="nav-link ul-padding-hamburger" href="#">Logout</a>
                    </li>
                    <li class="nav-item list-bg ml-auto" id="signup-home">
                        <a class="nav-link ul-padding-hamburger" href="#">Sign up</a>
                    </li>
                </ul>
            </div>
        </nav>

        <!-- Welcome text container -->
        <div class="container-fluid p-0 first-container">
            <div class="jumbotron jumbotron-fluid h-50 h-md-75 mb-0">
                <div class="container">
                    <h1 class="display-4">Welcome!</h1>
                    <p class="lead">Here on the My Healthy Mind website we provide you with a safe space to log your
                        daily
                        journal,
                        allowing you to keep track of your thoughts and
                        feelings. We strongly believe that maintaining a positive mindset and prioritizing your
                        well-being is vital for a
                        healthy mind, and we're here to support you in achieving that. Our user-friendly journaling
                        system enables you to
                        reflect on your experiences and emotions, set goals, and monitor your progress as you work
                        towards a happier and
                        healthier you.</p>
                </div>
            </div>

            <!-- Card container -->
            <div class="container container-features">
                <div class="row justify-content-around">
                    <div class="card card-rounded card-custom">
                        <img src="https://m.media-amazon.com/images/I/518tUTYNbsL._AC_UF1000,1000_QL80_.jpg"
                            class="card-img-top image" alt="...">
                        <div class="card-body card-body-bottom d-flex flex-column">
                            <h5 class="card-title">Daily Journal</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the
                                bulk of the
                                card's
                                content.</p>
                            <a href="#" class="btn button mt-auto mx-auto">Log my Daily Journal</a>
                        </div>
                    </div>


                    <div class="card card-rounded card-custom">
                        <img src="https://c8.alamy.com/comp/2N7B2N7/human-brain-with-flowers-and-butterflies-mental-health-and-self-care-concept-positive-thinking-creative-mind-2N7B2N7.jpg"
                            class="card-img-top image" alt="...">
                        <div class="card-body card-body-bottom">
                            <h5 class="card-title">Daily Quote</h5>
                            <p class="card-text">#</p>
                        </div>
                    </div>

                    <div class="card card-rounded card-custom d-none d-lg-block">
                        <img src="https://hbr.org/resources/images/article_assets/2021/02/Feb21_23_1296183274.jpg"
                            class="card-img-top image" alt="...">
                        <div class="card-body card-body-bottom d-flex flex-column">
                            <h5 class="card-title">Past Journals</h5>
                            <p class="card-text">
                                Revisit your past journals, reflect, and continue your journey towards a healthier
                                mind. Here, you can view all your previous journal entries, edit them, or delete them.
                            </p>

                            <a href="#" class="btn button mt-auto mx-auto">View past Journals</a>

                        </div>
                    </div>
                </div>
            </div>

            <!-- Footer -->
            <footer class="footer fixed-bottom">
                <p class="m-0 text-center text-black">Made by Sara Mathews</p>
                <p class="m-0 text-center text-black">Follow us:
                    <i class="fab fa-facebook-square ms-3"></i>
                    <i class="fab fa-twitter-square ms-3"></i>
                    <i class="fab fa-instagram-square ms-3"></i>
                    <i class="fab fa-youtube-square ms-3"></i>
                </p>
            </footer>


            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.slim.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.min.js"></script>
    </main>
</body>

</html>